## exclusions
--exclude Pods

## disabled rules
--disable blankLinesAtStartOfScope
--disable redundantType
--disable redundantSelf
--disable wrapMultilineStatementBraces

## format specifics
--patternlet inline
--stripunusedargs closure-only
--binarygrouping none
--decimalgrouping none
--hexgrouping 4,9
--octalgrouping none
--wrapcollections beforefirst
--wraparguments beforefirst